input[type="range"] {
  height: 27px;
  -webkit-appearance: none;
  margin: 4px 0;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #002200;
  background: #47d05d;
  border-radius: 4px;
  border: 1px solid #18d501;
}
input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #47d05d;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #47d05d;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #002200;
  background: #47d05d;
  border-radius: 4px;
  border: 1px solid #18d501;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #47d05d;
  border: 2px solid #47d05d;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #47d05d;
  border: 1px solid #18d501;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #002200;
}
input[type="range"]::-ms-fill-upper {
  background: #47d05d;
  border: 1px solid #18d501;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #002200;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #47d05d;
  border: 2px solid #47d05d;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #47d05d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #47d05d;
}
